*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header  */

header{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: white;
}

.row-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
}

.left-col, .right-col{
    width: 30%;
    display: flex;
    align-items: center;
}

.right-col{
    justify-content: flex-end;
}



.header-list{
    display: flex;
    align-items: center;
    list-style-type: none;

}

.header-list li{
    padding: 0 20px;
}

.button{
    padding: 7px 10px;
    color: white;
    border-style: none;
}

.button-blue{
    background-color: blue;
}

.accedi{
    text-decoration: none;
    color: black;
}

/* fine header  */

/* jumbotron */

.jumbotron{
    background-color: rgb(145, 237, 237);
    padding-top: 150px;
    
}

.container-jumbo{
    width: 70%;
    margin: 0 auto;
    
}

.title h1{
    font-size: 110px;
    
}

.row{
    width: 100%;
    display: flex;
}

.col-20{
    width: 30%;
}

.col-50{
    width: 40%;
}

.col-50 img{
    width: 150%;
    height: 100%;
}

.margin-top-50{
    margin-top: 50px;
}

.col-20 p{
    font-size: 25px;
}

.col-20 button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.down-arrow{
    margin-top: 100px;
}

/* fine jumbotron  */

/* main  */

.container-main {
    width: 60%;
    margin: 0 auto;
}

.padding-top-50{
    padding-top: 150px;
}

.radio-button{
    display: inline-block;
}

.margin-right-50{
    margin-right: 50px;
}

.container-main h2{
    font-size: 50px;
}

.col30{
    width: 30%;
    border: 1px solid grey;
    

}

.space-around{
    justify-content: space-between;
}

.rectangle{
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
}

.content{
    padding: 30px 50px;
}

.content ul{
    list-style: none;
}

.section-list li{
    padding: 15px 0;
    list-style: none;

}

.content li{
    font-size: 20px;
}

.button-content{
    background-color: blue;
    color: white;
    padding: 15px 65px;
    border-style: none;
    font-size: 15px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

hr{
    width: 20%;
    margin-top: 30px;
}